<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Homepage -Snippetbox</title>
    </head>
    <body>
        </header>
            <h1><a href='/'>Snippetbox</a></h1>
        <nav>
            <a href="/">Homepage </a>
        </nav>
        <main>
            <h2>Latest Notes</h2>
            <p>There's nothing here yet!</p>
        </main>
    </body>
</html>

